
.header-wrapper{
    display: block;
    width: 1151px;
    
}

.header_logo{
    display: inline-block;
    padding-top: 32px;
    width: 126px;
    height: 21px;
    cursor: pointer;
}

.header-links{
    display: block;
    padding-top: 33px;
    line-height: 25px;
    float:right;
    
    
}
.header-link-one{
    margin-right: 62px;
   
}
.header-link-two{
    margin-right: 62px;

}

.header-link-three{
    margin-right: 58px;
}

 .header-link-four{
    letter-spacing: 1px;
} 

/* .header_link{
    font-size: 22px;
    letter-spacing: -0.54px;

} */

.header-link{
    color: #121212;
    font-size: 18px;
    letter-spacing: -0.54px;
}

.header-link:hover{
    color: #9b9b9b;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	opacity: 0.5;
    
} 


@media (max-width: 1199px){

    
}

@media (max-width: 767px) {
    
    
}